version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
  deploy:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - add_ssh_keys:
          fingerprints:
            - "b8:09:f7:24:58:79:83:f5:44:b3:5e:8d:d0:04:3d:f3"
      - run:
          name: add to known hosts
          command: |
            sudo ssh-keyscan -H mmn.dev >> ~/.ssh/known_hosts
      - run:
          name: Deploy Over SSH
          command: |
            ssh -t -oStrictHostKeyChecking=no -v mmn@mmn.dev /bin/bash -ic 'portfolio-deploy > ~/logs/portfolio/deploy.log'

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          name: build
      - deploy:
          name: deploy
          requires: [build]
