version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
  deploy:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - add_ssh_keys:
          fingerprints:
            - "3a:bf:ea:03:f5:e7:56:e7:32:81:f0:35:c7:9c:5c:ba"
#      - run:
#          name: skip key authentication message
#          command: |
#            sudo cat ~/.ssh/config
#            sudo chmod 700 ~/.ssh/config
#            echo "PubkeyAuthentication yes" >> ~/.ssh/config
#            echo "StrictHostKeyChecking no" >> ~/.ssh/config
#            sudo chmod 400 ~/.ssh/config
#            service ssh restart
      - run:
          name: add to known hosts
          command: |
            sudo ssh-keyscan -H 42.42.64.64 >> ~/.ssh/known_hosts
      - run:
          name: Deploy Over SSH
          command: |
            ssh -t mmn@mmn.dev \<< EOF
              sudo -u mmn portfolio-pull
              sudo -u mmn portfolio-start
            EOF

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - deploy